@import "../../assets/fonts/flaticon/flaticon.css";

.Weather {
    position: absolute;
    /* width: 100%; */
    color: #fff;
    margin-top: 25px;
}

.Weather .condition span {
    display: inline-block;
}

.Weather .condition [class^="flaticon-"]:before {
    font-size: 8rem;
}

.Weather .temp {
    font-size: 5rem;
}

.Weather .wind  span{
    font-size: 2rem;
}

.Weather .forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Weather .forecast .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
