@import "../../assets/fonts/flaticon/flaticon.css";

.Weather {
    position: relative;
    color: #fff;
    margin: 25px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

