.Clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #fff;
    position: relative;
}

.Clock .date {
    font-size: 1.5rem;
    font-weight: 600;
}

.Clock .time {
    font-size: 6rem;
    font-weight: 300;
}